        body {
        margin: 15;
        padding: 0;
        font-family: Arial, sans-serif;
        background-color: #000;
        color: #fff;
        text-align: center;
        position: relative;
        z-index: 0;
     }
        .navbar {
            position: fixed;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 80%;
            max-width: 1200px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #030303; 
            color: white;
            padding: 10px 20px;
            z-index: 1000;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
        }

        .navbar-left {
            display: flex;
            align-items: center;
        }

        .logo {
            width: 50px;
            height: 50px;
            margin-right: 20px;
            transition: transform 0.3s ease;
        }

        .logo:hover {
            transform: scale(1.1);
        }

        .navbar-right {
            display: flex;
        }

        .nav-link {
            text-decoration: none;
            color: white;
            padding: 10px 15px;
            transition: background-color 0.3s ease;
        }

        .nav-link:hover {
            background-color: #555;
        }

        .content {
            padding-top: 70px;
            text-align: center;
            color: white;
        }

        .glowing-text {
            font-size: 3rem;
            text-shadow: 0 0 5px #fff, 0 0 10px #fff;
        }

        #particles-js {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }

         .blank-button {
        padding: 13px 23px;
        background-color: #000;
        color: #fff;
        border: 2px solid #fff;
        text-decoration: none;
        font-weight: bold;
        border-radius: 5px;
        margin-left: 10px;
        transition: transform 0.3s, filter 0.3s;
    }
    .blank-button:hover {
    transform: scale(1.1);
    filter: invert(1);
}
      hr {
            border: none;
            border-top: 2px solid white; 
            margin: 15px auto; 
            width: 50%; 
            height: 1px; 
            border-radius: 5px; 
        }
	  
	h2, h3, h4, h5, h6, p {
		color: white;
		text-align: center;
	}

   .container {
        display: flex;
        gap: 10px; 
    }
    .partner {
        position: relative;
        width: 400px;
        height: 100px;
        overflow: hidden;
        border-radius: 10px; 
        background-color: #ddd; 
        flex-shrink: 0; 
    }
    .partner img {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
        border-radius: 10px; 
        transition: opacity 0.5s; 
    }
    .partner:hover img {
        opacity: 0.7;
    }
    .overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
        text-align: center;
        opacity: 0;
        transition: opacity 0.5s; 
    }
    .partner:hover .overlay {
        opacity: 1;
    }
    .overlay a {
        color: #fff;
        text-decoration: none;
    }
